html{
    font-size: 1rem;
}
body{        
    font-family:Gantari;
    background-color: #E9D8A6;
    color:#001219 ;
}
.cardProduit .btn{
    background-color:#94D2BD ;
    color:#001219 ;
}
.nav li a {
    color: #001219;
}
#headNav{
    background-color: #E9D8A6;
}

.card{
    display: flex;
	flex-wrap: wrap;
	text-align: center; 
	border-radius: 10px;
	cursor:pointer;
	border: 1px solid rgb(7, 83, 22)
}



@font-face {
    font-family:Gantari ;
    src: url(../font/Gantari-Regular.ttf);
}


