html {
    font-size: 1rem;
    background-color: #E9D8A6;
}

body {
    font-family: Gantari;
    color: #001219;
    background-color: #E9D8A6;
}

@font-face {
    font-family: Gantari;
    src: url(../font/Gantari-Regular.ttf);
}