html {
    font-size: 1rem;
    background-color: #E9D8A6;
}

body {
    font-family: Gantari;
    color: #001219;
    background-color: #E9D8A6;
}

.leftPart {
    height: 300vh;
}

.leftPart a {
    text-decoration: none;
    color: #E9D8A6;
    font-size: 22px;
}
.red{
    color: red;
}

.nav li a {
    font-size: 18px;
    color: #001219;
}

.logonav{
    height:100px;
    width: 150px;
}

@font-face {
    font-family: Gantari !important;
    src: url(../font/Gantari-Regular.ttf);
}