html {
    font-size: 1rem;
}

body {
    font-family: Gantari;
    background-color: #E9D8A6;
    color: #001219;
}

.cardProduit .btn {
    background-color: #94D2BD;
    color: #001219;
}

.nav li a {
    font-size: 20px;
    color: #2e0908;
}

.inputform {
    box-shadow: rgba(0, 0, 0, 0.502) 0px 10px 36px 0px, rgba(0, 0, 0, 0.359) 0px 0px 0px 1px !important;

}

.card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #E9D8A6;
}

/* style cards galerie */
.gallery img {
    border-radius: 3px;
    border-color: #2e0908;
    border: 2px solid;
    /* box-shadow: rgba(0, 0, 0, 0.502) 0px 10px 36px 0px, rgba(0, 0, 0, 0.359) 0px 0px 0px 1px; */
    height: 300px;
    width: 300px;
}

.red {
    color: red;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.logonav {
    height: 100px;
    width: 150px;
}

/* style cards astuce */
.astucecard{
    margin-top: 100px;
    color: #2e0908;
    border: 2px solid;
}

#headNav {
    background-color: #8b856e;
}

footer {
    background-color: #8b856e;
    height: auto;
}
footer h3{
    color: #2e0908;
}
footer a {
    text-decoration: none;
    color: inherit;
    color: #2e0908;
}

@font-face {
    font-family: Gantari;
    src: url(../font/Gantari-Regular.ttf);
}