html {
    font-size: 1rem;
}

body {
    font-family: Gantari;
    background-color: #E9D8A6;
    color: #001219;
}

.cardProduit .btn {
    background-color: #94D2BD;
    color: #001219;
}

.nav li a {
    color: #001219;
}

#headNav {
    background-color: #E9D8A6;
}
.inputform{
    box-shadow: rgba(0, 0, 0, 0.502) 0px 10px 36px 0px, rgba(0, 0, 0, 0.359) 0px 0px 0px 1px !important;

}
.card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #E9D8A6;
}

.gallery img {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.502) 0px 10px 36px 0px, rgba(0, 0, 0, 0.359) 0px 0px 0px 1px;
}


@font-face {
    font-family: Gantari;
    src: url(../font/Gantari-Regular.ttf);
}